html {
  font-size: 10px;
  display: flex;
  justify-content: center;
  background-color: gray; }

*,
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box; }

.container {
  width: 360px;
  display: flex;
  justify-content: center;
  background-color: #fff; }

.main__style {
  width: 312px; }

.fotos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 75px 0; }
  .fotos__title {
    padding-right: 15px;
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 120%;
    text-transform: uppercase;
    color: #F4F4F4;
    background-color: #1519FF; }
    .fotos__title:last-of-type {
      margin-bottom: 35px; }
  .fotos__items {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .fotos__item {
    padding: 22px 0 48px 0; }
  .fotos__line_top {
    border-top: 1px solid #676767; }
  .fotos__name {
    font-family: "Space Grotesk";
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 140%;
    text-transform: uppercase;
    color: #000;
    padding-bottom: 4px; }
  .fotos__text {
    font-family: "Helvetica Neue, sans-serif";
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 170%;
    color: #676767;
    padding-bottom: 10px; }
  .fotos__time {
    font-family: "Helvetica Neue, sans-serif";
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 170%;
    color: #000;
    padding-bottom: 8px; }
  .fotos__foto {
    padding-top: 16px; }

.img__left-radius {
  border-radius: 150px 0 0 0; }
.img__round {
  border-radius: 50%; }
.img__square {
  border-radius: 0px; }
.img__right-radius {
  border-radius: 0 150px 0 0; }
