@import '_param';
html {
    font-size: 10px;
    display: flex;
    justify-content: center;
    background-color: gray;
}

*,
body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
}

.container {
    width: 360px;
    display: flex;
    justify-content: center;
    // border: 1px solid red;
    background-color: #fff;
}

.main {
    &__style {
        width: 312px;
        // border: 1px solid;
    }
}

.fotos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 75px 0;
    &__title {
        padding-right: 15px;
        font-family: $font_second;
        font-style: normal;
        font-weight: normal;
        font-size: 3rem;
        line-height: 120%;
        text-transform: uppercase;
        color: #F4F4F4;
        background-color: $bgcolor-title;
        &:last-of-type {
            margin-bottom: 35px;
        }
    }
    // .fotos__items
    &__items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__item {
        padding: 22px 0 48px 0;
    }
    &__line_top {
        border-top: 1px solid $text-color_grey;
    }
    &__name {
        font-family: $font_second;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 140%;
        text-transform: uppercase;
        color: $color_black;
        padding-bottom: 4px;
    }
    &__text {
        font-family: $font_first;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 170%;
        color: $text-color_grey;
        padding-bottom: 10px;
    }
    &__time {
        font-family: $font_first;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 170%;
        color: $color_black;
        padding-bottom: 8px;
    }
    &__foto {
        padding-top: 16px;
    }
}

.img {
    // .img__left-radius
    &__left-radius {
        border-radius: 150px 0 0 0;
    }
    &__round {
        border-radius: 50%;
    }
    &__square {
        border-radius: 0px;
    }
    &__right-radius {
        border-radius: 0 150px 0 0;
    }
}